<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sunday_9.14.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>UIImageViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>UITextFileDemo1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>UITextFileDemo_协议代理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>UITouchDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>UIViewController_传值_Block.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>UIViewController_传值_target_action.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UIViewController_传值_通知.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC4166DF19C51FE6006BF5FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC4166FA19C51FE6006BF5FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC41671B19C526B6006BF5FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC41673119C526B7006BF5FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC41674F19C52EB1006BF5FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC41676519C52EB1006BF5FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC41678319C53CE3006BF5FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC41679919C53CE4006BF5FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC4167B719C544D7006BF5FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC4167CD19C544D8006BF5FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC4167EA19C586C1006BF5FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC41680019C586C1006BF5FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC41681B19C594DA006BF5FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC41683119C594DA006BF5FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC41684C19C5B370006BF5FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC41686219C5B370006BF5FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
