<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Saturday_9.13.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>UINavigationController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>UINavigationController_导航元素项.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>UINavigationController_导航栏.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>UINavigationController_工具栏.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC0B051A19C3F42E0083C24D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC0B053519C3F42F0083C24D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC1ABFF019C43CAB00EEB6F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC1AC00619C43CAB00EEB6F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC1AC02319C459FD00EEB6F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC1AC03919C459FE00EEB6F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC1AC05119C45A7300EEB6F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC1AC06719C45A7400EEB6F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC1AC08719C46FFD00EEB6F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC1AC09D19C46FFD00EEB6F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
