<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserName</key>
	<string>Michael</string>
	<key>Password</key>
	<string>12345678</string>
	<key>NickName</key>
	<string>小黑</string>
	<key>Age</key>
	<integer>20</integer>
	<key>OtherUser</key>
	<array>
		<dict>
			<key>UserName</key>
			<string>kk</string>
			<key>Password</key>
			<string>123</string>
			<key>NickName</key>
			<string>小白</string>
			<key>Age</key>
			<integer>19</integer>
		</dict>
		<dict>
			<key>UserName</key>
			<string>mm</string>
			<key>Password</key>
			<string>234</string>
			<key>NickName</key>
			<string>小红</string>
			<key>Age</key>
			<string>21</string>
		</dict>
		<dict>
			<key>UserName</key>
			<string>mm</string>
			<key>Password</key>
			<string>234</string>
			<key>NickName</key>
			<string>小红</string>
			<key>Age</key>
			<string>21</string>
		</dict>
		<dict>
			<key>UserName</key>
			<string>mm</string>
			<key>Password</key>
			<string>234</string>
			<key>NickName</key>
			<string>小红</string>
			<key>Age</key>
			<string>21</string>
		</dict>
		<dict>
			<key>UserName</key>
			<string>mm</string>
			<key>Password</key>
			<string>234</string>
			<key>NickName</key>
			<string>小红</string>
			<key>Age</key>
			<string>21</string>
		</dict>
		<dict>
			<key>UserName</key>
			<string>mm</string>
			<key>Password</key>
			<string>234</string>
			<key>NickName</key>
			<string>小红</string>
			<key>Age</key>
			<string>21</string>
		</dict>
	</array>
</dict>
</plist>
